.styles{
    padding: 20px;
 border:2px solid red;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:space-between;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
.btns{
    margin-left: 10px;
    width: 50px;
}
.btns:hover{
    background-color: green;
}